<% if resource.errors.any? %>
  <div id="error_explanation" class="alert alert-danger p-1" role="alert">
    <ul class="m-0">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
