<div class="card mb-2">
  <div class="card-body d-flex">
    <div class="title">
      <h4><%= link_to recipe.name, recipe, class:"card-link"%></h4>
      <h6>By: <%= User.find_by(id: recipe.user_id).name %></h6>
    </div>
    <div class="details"></div>
  </div>
</div>
