<p style="color: green"><%= notice %></p>

<h1>Recipes</h1>
<%= link_to "New recipe", new_recipe_path %>

<div id="recipes">
  <% @recipes.each do |recipe| %>
    <%= render recipe %>
  <% end %>
</div>

