<p style="color: green"><%= notice %></p>

<h1>Foods</h1>

<div id="foods">
  <% @foods.each do |food| %>
    <%= render food %>
    <p>
      <%= link_to "Edit this food", edit_food_path(food) %>
    </p>
  <% end %>
</div>

<%= link_to "New food", new_food_path %>
